@{ 
    ViewBag.Title = "Index";
}


<div>


</div>
<div align="center">
    @foreach (var i in Model)
    {
        <div align="center" style="color:white;">@i.Nome @i.Combinacao @i.Resultado</div>

        foreach (var c in @i.Cartas)
        {

            <img src="~/Content/Img/@(c.Valor+c.Nipe).png" width="80" />

        }
    }

</div> 